.beradcrumb {
    margin-top: 4%;
}
.interiors-parallax {
    /* The image used */
    margin-top: -15px;
    background-image: url("../img/machine-blueprint.jpg");

    /* Set a specific height */
    min-height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}