.beradcrumb {
    margin-top: 4%;
}
.electric-parallax {
    /* The image used */
    margin-top: -15px;
    background-image: url("../img/3d-animation-moving-down-electrical-powerline-with-bright-background_sl_ozijle_thumbnail-full01.jpg");

    /* Set a specific height */
    min-height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}